<div>
    <h2>MarketOrders</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="market-order.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new MarketOrder
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="buy"><span>Buy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="issued"><span>Issued</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="price"><span>Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="volumeEntered"><span>VolumeEntered</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stationID"><span>StationID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="volume"><span>Volume</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="range"><span>Range</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="minVolume"><span>MinVolume</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="duration"><span>Duration</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="invType.typeName"><span>invType</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="marketOrder in vm.marketOrders track by marketOrder.id">
                    <td><a ui-sref="market-order-detail({id:marketOrder.id})">{{marketOrder.id}}</a></td>
                    <td>{{marketOrder.buy}}</td>
                    <td>{{marketOrder.issued | date:'medium'}}</td>
                    <td>{{marketOrder.price}}</td>
                    <td>{{marketOrder.volumeEntered}}</td>
                    <td>{{marketOrder.stationID}}</td>
                    <td>{{marketOrder.volume}}</td>
                    <td>{{marketOrder.range}}</td>
                    <td>{{marketOrder.minVolume}}</td>
                    <td>{{marketOrder.duration}}</td>
                    <td>
                        <a ui-sref="inv-type-detail({id:marketOrder.invType.id})">{{marketOrder.invType.typeName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="market-order-detail({id:marketOrder.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="market-order.edit({id:marketOrder.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="market-order.delete({id:marketOrder.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
