
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInvMarketGroupLabel">Create or edit a InvMarketGroup</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.invMarketGroup.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_parentGroupID">ParentGroupID</label>
            <input type="number" class="form-control" name="parentGroupID" id="field_parentGroupID"
                    ng-model="vm.invMarketGroup.parentGroupID"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_marketGroupName">MarketGroupName</label>
            <input type="text" class="form-control" name="marketGroupName" id="field_marketGroupName"
                    ng-model="vm.invMarketGroup.marketGroupName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.invMarketGroup.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_iconID">IconID</label>
            <input type="number" class="form-control" name="iconID" id="field_iconID"
                    ng-model="vm.invMarketGroup.iconID"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_hasTypes">HasTypes</label>
            <input type="number" class="form-control" name="hasTypes" id="field_hasTypes"
                    ng-model="vm.invMarketGroup.hasTypes"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
